{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

    <div class="flex-row">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            Add
        </button>
        <button type="button" class="btn btn-warning">
            <a href="{{ path('products_batch_update') }}">Update all</a>
        </button>
    </div>

    <table id="products" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Picture
            </th>
            <th>
                Price
            </th>
            <th>
                Old price
            </th>
            <th>
                Date add
            </th>
            <th>
                Date update
            </th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>
                User
            </th>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <th>
                Actions
            </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>
                    <a href="{{ product.url }}" target="_blank">
                        {{ product.name }}
                    </a>
                    &nbsp;
                    <a href="{{ path('statistic', {'id': product.id}) }}"><i class="fa fa-bar-chart"></i></a>
                </td>
                <td>
                    <img src="{{ product.picture }}" style="max-height: 80px;" alt="{{ product.name }}">
                </td>
                <td>
                    {% if product.price > product.price_old %}
                        <span style="color:red">{{ product.price }}&nbsp;{{ product.currency }}</span>
                    {% else %}
                        <span style="color:green">{{ product.price }}&nbsp;{{ product.currency }}</span>
                    {% endif %}
                </td>
                <td>
                    {{ product.price_old }}&nbsp;{{ product.currency }}
                </td>
                <td>
                    {{ product.createdAt|date("d.m.Y") }}
                </td>
                <td>
                    {{ product.updatedAt|date("d.m.Y H:i ") }}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>

                    {% for user in product.user.toArray %}
                    {{ user.email }}
                    {% endfor %}
                </td>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <td>
                    <a href="{{ path('products_delete', {'id': product.id}) }}" onclick="return confirm('are u sure?')"><i class="fa fa-trash"></i></a>
                    <a href="{{ path('products_update', {'id': product.id}) }}"><i class="fa fa-refresh"></i></a>
                </td>
                {% endif %}
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="span4 offset2 cards">
                        {{ form_start(form, { 'action': path('products'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Enter url</label>
                            <div class="col-sm-12">
                                {{ form_errors(form.url, {
                                    'attr': {'class': 'error'}
                                }) }}
                                {{ form_widget(form.url, {
                                    'attr': {
                                        'class': 'input100',
                                        'style': 'width: inherit;'
                                    },
                                    'type': 'url'
                                }) }}
                            </div>
                        </div>
                        {{ form_widget(form) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div>
                        <input class="btn btn-success" type="submit" value="{{ 'Add'|trans }}" />
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <!-- Insert this at the end of your body element, but before the closing tag -->
{#    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>#}

{% endblock %}
 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/any-number.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/date-dd-MMM-yyyy.js"></script>
     <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
     <script>
         $('#products').DataTable( {
             "language": {
                 "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Russian.json"
             },
             columnDefs: [
                 { type: 'any-number', targets : [ 2, 3 ] },
                 { type: 'date-dd.mmm.yyyy', targets: 4 }
             ]
         } );
     </script>
 {% endblock %}

