<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
            <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        {% endblock %}
        <!-- in the <head> section -->
        <link rel="favicon" href="/images/icons/favicon.ico">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 px-0">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark static-top">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button> <a class="navbar-brand" href="{{ app.request.schemeAndHttpHost }}">Home</a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav">
                                {% if is_granted('ROLE_USER') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ app.request.schemeAndHttpHost }}{{ path('products') }}">Products<span class="sr-only">(current)</span></a>
                                </li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ app.request.schemeAndHttpHost }}{{ path('users') }}">Users<span class="sr-only">(current)</span></a>
                                </li>
                                {% endif %}
                            </ul>
                            <ul class="navbar-nav ml-md-auto">
                                <li class="nav-item">
                                    {% if is_granted('ROLE_USER') %}
                                        <a class="nav-link" href="{{ app.request.schemeAndHttpHost }}{{ path('logout') }}">Logout<span class="sr-only">(current)</span></a>
                                    {% else %}
                                        <a class="nav-link" href="{{ app.request.schemeAndHttpHost }}{{ path('login') }}">Login<span class="sr-only">(current)</span></a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </nav>
                    {{ wo_render_breadcrumbs() }}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    <!-- before the closing <body> tag -->

        {% block javascripts %}
            <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
            <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
